<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.engage.sourabh.attandanceSystem">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".global"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logofront"
        android:screenOrientation="portrait"
        android:label="@string/AppName"
        android:roundIcon="@drawable/logofront"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Activity.StudentAttendanceReport"
            android:exported="false" />
        <activity
            android:name=".Activity.selectrollnumber"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.setpassword"
            android:exported="false" />
        <activity
            android:name=".Activity.IndexActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CameraAttendance"
            android:exported="false" />
        <activity
            android:name=".Activity.AddTeacher"
            android:exported="false" />
        <activity
            android:name=".Activity.AddStudentFace"
            android:exported="false" />
        <activity
            android:name=".Activity.manualAttendance"
            android:exported="false" />
        <activity
            android:name=".Activity.SendMessage"
            android:exported="false" />
        <activity
            android:name=".Activity.StudentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TeacherDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddStudent"
            android:exported="false" />
        <activity
            android:name=".Activity.attendanceReport"
            android:exported="false" />
        <activity
            android:name=".Activity.AttandanceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StudentHomeAcitvity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>